USE waimai;
CREATE TABLE Orders(
			oid VARCHAR(10) NOT NULL UNIQUE,
			cid VARCHAR(10) NOT NULL,
			sid VARCHAR(10) NOT NULL,
			fid VARCHAR(10) NOT NULL,
			mood INT,
			PRIMARY KEY(oid),
			FOREIGN KEY (fid) REFERENCES Food ON DELETE NO ACTION,
			FOREIGN KEY (cid) REFERENCES Customer ON DELETE NO ACTION,
			FOREIGN KEY (sid) REFERENCES Sender ON DELETE NO ACTION);